  .code-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 170vh;
    height: 90vh;
    margin-left: 30px;
    margin-top: 50px !important;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .code-container .code-dropdown {
    position: absolute;
    top: 50%;
    right: -140px; /* Adjust this value to position the dropdown as desired */
    transform: translateY(-50%);
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: auto;
    gap: 4px;
    width: 125px;
    height: 80px;
    border-radius: 10px;
    width: fit-content;
    border: 1px solid #99ABF0;
    background-color: white;
    color: #2B47D6;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.1);
    
    
  }
  .code-container .drop-menu {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    
    width: 125px;
    height: 40px;
    flex: none;
    order: 0;
   
  align-self: stretch;
  flex-grow: 0;
  
  border-bottom: 1px solid #99ABF0;
  cursor: pointer;
    }
    .code-container .dropdown-item{
        
      width: 100%;
      height: 100%;
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #2B47D6;
      flex: none;
      order: 1;
      flex-grow: 0;
    }
    
    .code-container .dropdown-menu:hover {
      background-color: #F2F4FF;
    }
    
    .code-container .dropdown-item.active {
      background-color: #2B47D6;
      color: #FFFFFF;
    }
    
  .server-card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Add this line */
    width: 850px;
    height: 50px;
    padding: 16px;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px solid #99ABF0;
    background-color: #F2F4FF;
  }
 


  .text-input-code {
    width: 800px;
    height: 50px;
    outline: none;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 5px;
    justify-content: center;
    border: 1px solid #99ABF0;
    background-color: #F2F4FF;
    
  }

  .btn-connection{
    font-weight: 500;
    font-size: 13px;
	  display: flex;
	  color: white;
    flex-direction: row;
	  width: 220px;
    height: 41px;
	  margin-top: 50px;
    margin-left: 90px;
    align-items: center;
    justify-content: center;
    background: #2B47D6;
    border:white;
    border-radius: 10px;
  }
  .server-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 170vh;
   
  }
  
 
  .server-card h5 {
    width: 120px;
  height: 20px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #2B47D6;
  flex: none;
  order: 0;
  margin-left: 0px;
  white-space: nowrap;
  }
  
  .server-card p {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #4D6DE5;
  flex: none;
  order: 0;
  flex-grow: 1;
  justify-content: center;
  white-space: nowrap;
  padding: 5px 5px 5px 5px ;
  
  
  }
  .server-card .card-title{
    display: flex;
    flex-direction: column;
    justify-items:flex-end
    
  }
  .srever-card .server-icon{
    
    white-space: nowrap;
    width: 25px;
    height: 25px;
    color: #2B47D6;
    font-size: 36px;
       padding: 5px 5px 5px 5px ;
       position: absolute;
  }
  @media (max-width: 767.98px) {
    .srever-card {
        
      width: 270px;
      height: 150px;
      margin: 16px;
      padding: 16px;
      background-color: #ffffff;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      
      border: 1px solid #99ABF0;
      border-radius: 20px;
      margin-top: 0;
    }
}
