.card-login {
	/* RESET */
	margin-left: 0px;
	margin-top: 0;
	align-items: center;
	justify-content: center;
	width: 1440px;
	height: 1024px;
	border-radius: 25px;
	background-color:white;

}


.card-login a {
	font-weight: 600;
    margin-left: 160px;
    margin-right: 0px;
	text-decoration: none;
    font-size: 14px;
    cursor: pointer;
	width: 119px;
    height: 21px;
	font-family: 'Poppins';
font-style: normal;
line-height: 21px;
display: flex;
align-items: center;
color: #2B47D6;
flex: none;
order: 1;
}


.card-login .padding {
	padding: 15% 22%;
	height: 100%;
	width: 100%;
	position: relative;
}

.card-login .padding.bg-primary .lead {
	opacity: .8;
}

.card-login .padding.bg-primary .help-links {
	text-align: center;
	padding: 0;
	margin: 0;
	position: absolute;
	left: 0;
	
}


.card-login .row {
	margin: auto;
	width: 100%;
	height: 100%;
	min-height: 100%;
	
}

.card-login .row [class^="col-"] {
	padding: 0;
	min-height: 100%;
	
}




.card-login h2 {
width: 350px;
height: 34px;
font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 22px;
display: flex;
align-items: center;
letter-spacing: 1.092px;
color: #2B47D6;
flex: none;
white-space: nowrap;
	
}
.card-login h5 {
	font-size: 2em;
	color: black;
    font-family: 'Euclid Circular A';
	margin-top: 30px;
	font-weight: 700;
	
}

.card-login p {
	
    color: #8C8C8C;
	font-family: 'Euclid Circular A';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	display: flex;
	flex: none;
    order: 1;
    flex-grow: 0;
	text-align: center;
    justify-content: center;
	letter-spacing: -0.408px;
	
	

	
}
.card-login .paraghraph-login{
	width: 346px;
	height: 22px;
	
	font-family: 'Euclid Circular A';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height, or 138% */
	
	letter-spacing: 1.092px;
	
	/* Foundation /White/white-800 */
	
	color: #8C8C8C;
	
	
	/* Inside auto layout */
	
	flex: none;
	order: 1;
	flex-grow: 0;
}


.card-login .lead {

	font-size: 14px;
	line-height: 24px;
	margin-bottom: 5px;
	font-weight: 400;
}

.card-login .form-group {
	margin-bottom: 8px;
	height: 50%;
	align-items: center;
	display: flex;
    flex-direction: column;
	justify-content: center;
}

.card-login .form-label {
	font-family: 'Euclid Circular A';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	display: flex;
	align-items: center;
    padding: 3px;
}

.card-login .form-control {
	font-size: 14px;
	padding: 20px ;
	box-shadow: none;
	width: 400px;
	height: 44px;
	background: #F2F4FF;
	border: 1.5px solid #BAC6F5;
    border-radius: 10px;

}

.card-login .form-control:focus {
	border-color:#2B47D6;
}

.card-login .btn {
	
	font-weight: 500;
    font-size: 16px;
	box-shadow: 0 4px 10px var(--shadow-color);
	display: flex;
	color: white;
    flex-direction: row;
	margin-top: 30px;
align-items: center;
justify-content: center;
background: #2B47D6;
margin-left: 4px;
padding: 16px 24px;
gap: 8px;

width: 400px;
height: 50px;

border-radius: 10px;
}

.card-login .btn:hover {
	background-color: #e3e8ee;
	color: #2B47D6;
	border: 1px solid #2B47D6;

}

.card-login .btn:focus,
.card-login .btn:active:focus {
	box-shadow: none !important;
}

.card-login .btn-icon {

	background-color: #fff;
	border: 1.5px solid #D0D0D0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    width: 420px;
    height: 41px;
    border-radius: 10px;
    margin-left: 4px;


}

.card-login .logo{
    width: 255px;
height: 157.84px;
flex: none;
    margin-top: -190px;
    
   
}
.img2{
	align-items: center;
	height: 40px;
    width: 40px;
margin-left: 47%;
margin-right: 20.83%;
margin-top: 13.6%;
bottom: 18.58%;
	

}
.img-ser{
	 width: 438px;
height: 438px;
align-items: center;
margin-top: 0px;


}
.card-login .img-google{
	height: 21px;
	width: 21px;
	align-items: center;
	margin-right: 8px;
	margin-left:0px;
}
.ser{
    position: absolute;
width: 720px;
height: 1024px;
    background-color: #E9EDFC;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	border-radius: 0px 20px 20px 0px ;


}
.card-login .btn-gogle-auth{
width: 144px;
height: 20px;

/* Buttons / Medium and Large */

font-family: 'Euclid Circular A';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
letter-spacing: -0.408px;

/* Neutral/Black/100 */

color: #161616;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 12px;

width: 400px;
height: 44px;
background: #FFFFFF;
border: 1.5px solid #D0D0D0;
border-radius: 10px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}
.card-login .link1{
margin-right: 0px;
font-family: 'Poppins';
font-style:normal;
font-size: 32px;
line-height: 27px;
white-space: nowrap;
display: flex;
color: #2B47D6;
margin-left: 110px;
}
.card-login .link2{
   
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 21px;
    white-space: nowrap;
    display: flex;
    color: #2B47D6;
    margin-left:1px;
	margin-top: 2px;

}
.card-login .p1{
    
    margin-left: 130px;
    white-space: nowrap;
	margin-top: 30px;
	
width: 255px;
height: 24px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
color: #BAC6F5;

flex: none;
order: 3;
flex-grow: 0;

}



@media screen and (min-width: 769px) and (max-width: 1023px) {
	.ser {
		width: 800px;
	}
}

@media screen and (max-width: 991px) {
	.ser {
		width: 400px;
		margin-bottom: 40px;
	}

	.card-login .row [class^="col-"] {
		min-height: 480px;
		
	}
}

@media screen and (max-width: 425px) {
	.ser {
		width: 100%;
		margin-top: 20px;
	}
}

@media screen and (max-width: 375px) {
	.ser .padding {
		padding: 30px;
	}
}